//
// Masthead
// --------------------------------------------------
.pa-masthead {
  @include gradient-vertical-with-background('../images/bg-map.png',$brand-dark-green,lighten($brand-dark-green,10%));
  background-size: cover;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  h1 {
    font-weight: normal;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .pa-masthead {
    padding: 120px 30px;
  }
}