//
// Nav Bar
// --------------------------------------------------
.pa-navbar {
  margin-bottom: 0;
  p {
    margin: 0;
  }
  a {
    font-weight: inherit;
  }
}
.navbar-btn {
  margin-left: 15px;
  margin-right: 15px;
}