/**
 * Import Custom Twitter Bootstrap Base File
 ******************************************************************************************
 */
@import "bootstrap";

/**
 * Import Local Styles
 ******************************************************************************************
 */
@import "mixins";
@import "scaffolding";
@import "navbar";
@import "form";
@import "code";
@import "masthead";
@import "footer";

/**
 * Global Styles
 ******************************************************************************************
 */
a {
  font-weight: bold;
}
.wrapper {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
  background-color: $body-bg;
}
.page-header {
  position: relative;
  padding-left: 15px;
  margin-bottom: 30px;
  &:before {
    content: "";
    position: absolute;
    left: -1px;
    top: -4px;
    width: 5px;
    height: 100%;
    background-color: $brand-info;
    @include skew(12deg, 0deg);
    @include transform-origin(right bottom);
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 5px;
    background-color: $brand-info;
    @include skew(12deg, 0deg);
  }
}
.secondary-header {
  &:before {
    content: "//";
    margin-right: 5px;
    color: $brand-info;
    @include opacity(0.5);
  }
}
.pa-divider {
  position: relative;
  width: 100%;
  margin: 35px auto;
  border-bottom: 3px solid $brand-info;
  &:after {
    content: "";
    position: absolute;
    left: 49%;
    width: 0;
    height: 0;
  }
  &.arrow-down {
    &:after {
      top: 3px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $brand-info;
    }
  }
  &.arrow-up {
    &:after {
      top: -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $brand-info;
    }
  }
}

.text-strikethrough {
  text-decoration: line-through;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .page-header {
    padding-left: 25px;
    &:before,
    &:after {
      @include skew(20deg, 0deg);
    }
    &:before {
      left: -2px;
      width: 10px;
      @include skew(20deg, 0deg);
    }
    &:after {
      bottom: -6px;
      height: 10px;
      @include skew(20deg, 0deg);
    }
  }
  .pa-divider {
    width: 600px;
    &.pa-divider-full {
      width: 100%;
    }
  }
}


@import "home";

