# Laravel
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.sass-cache

# OS
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db

# Thumbnails
._*

# Misc
/.htaccess
